%h2 Login

%p
  %span Do not have an account?
  = link_to "Sign up", new_registration_path(:user)

.container
  .social-auth.col-lg-offset-2.col-xs-3.col-sm-2.col-md-3.col-lg-3
    %h6
      Sign in with social networks
    = render 'shared/social_buttons'

  .col-xs-3.col-sm-2.col-md-2.col-lg-4
    = form_for(:user, url: session_path(:user)) do |f|
      %fieldscontainer
        .form-group
          = f.email_field :email, placeholder: 'Email', autofocus: true, class: 'form-control input-lg'
        .form-group
          = f.password_field :password, placeholder: "Password", autocomplete: "off", class: 'form-control input-lg'
        .form-group.text-left.text-md
          = link_to "Forgot password?", new_password_path(:user)
      = f.submit "Log in", class: 'btn btn-hg btn-block btn-success'
