.col-inline.col-lg-7
  %h2 Add Startup
  %p.text-md
    %span 

  = bootstrap_form_for @company, url: companies_path, label_errors: false, inline_errors: true, layout: :horizontal, label_col: "col-sm-3 control-label", control_col: "col-sm-7" do |f|
    = f.text_field :name, autofocus: true, class: 'form-control', label: 'Company Name'

    = f.text_area :description, placeholder: 'A platform for startups eco-system', label: 'High concept pitch'
    = f.text_field :country
    = f.text_field :city
    = f.text_field :market
    = f.text_field :category
    = f.text_field :short_name, label: 'Short Link', placeholder: 'www.knomsy/companies/XXX'

    = f.form_group control_col: 'col-sm-offset-2 col-sm-7' do
      = f.check_box :terms_of_service do
        I agree with the Term & Conditions

    = f.form_group control_col: 'col-sm-offset-2 col-sm-7' do
      = f.submit "Add Startup", class: 'btn btn-primary'
      = link_to 'Cancel', profile_path
