!!!
%html
  %head
    %title Knomsy
    = stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags
    
  %body{class: body_class}
    .container-fluid
      %header.row
        = render 'layouts/header'
      .row.layout_body.content-fluid
        - flash_messages

        .container.text-center{class: container_class}
          %span{class: container_sub_class}
            = yield 
     
      = render 'layouts/footer'
                  
    = Gon::Base.render_data(init: true)
    = javascript_include_tag 'application'
    = javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'
