!!!
%html
  %head
    %title Knomsy
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags
    
  %body{class: body_class}
    .container-fluid
      %header.row
        = render 'layouts/header'
      .row.layout_body.content-fluid
        - flash_messages

        .container-fluid.text-center{class: container_class}
          %span{class: container_sub_class}
            = yield 
     
      = render 'layouts/footer'
                  
    = render 'layouts/rollbar' if Rollbar.configuration.enabled
    = Gon::Base.render_data(init: true)
    = javascript_include_tag 'application'